.admin-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: rgb(197, 210, 223); 
}

.form-container {
  width: 400px;
  padding: 20px;
  border: 1px solid skyblue;
  border-radius: 5px;
  background-color:skyblue;
}

.admin-button {
  height: 50px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  text-align: left;
}
