body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
  }
  
  .logo {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    background-color: white;
  }
  
  .nav-links {
    display: flex; /* Make the navigation links horizontal */
    color: black;
    list-style: none;
  
    font-size: 19px;
   
  }


  .nav-links a {
    text-decoration: none; /* Remove underline from navigation links */
    color: black; /* Set the text color for the links */
    margin:28px;
  }

  .nav-links a:hover{
    background-color: #ddd;
    color: black;
  }


  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Optional: Add padding to the h3 tags */
}

.head h3 {
    margin: 10px; /* Remove default margin for h3 tags */
    padding-top: 40px;
    color:black; /* Optional: Set text color */
    font-size: 30px; /* Optional: Adjust font size */
    font-weight: bold; /* Optional: Set font weight */

}
h3:hover ,h1:hover{
   color: darkturquoise;
}


.search{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input[type="text"] {

  width: 150px; /* Adjust the width as needed */
  padding: 8px; /* Add padding for better visual appearance */
  margin-right: 10px; /* Add margin between input fields */
  border: 1px solid #ccc; /* Add border for clarity */
  border-radius: 5px; /* Add rounded corners */
}

.search button{
  background-color: #062a3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  position: relative;
  bottom: 4px;
  left: 2px;
  width: 10%;
 
}

.search button:hover{
    background-color: rgb(30, 145, 190);
}
.info{
    background-color: rgb(139, 156, 163);
    border: 1px solid white;
    height: 300px;

}

.browse{
    text-align: center;
}
.browse h1{
    font-size: 30px;
}
.browse h1:hover{
  color: rgb(30, 145, 190);
}

.info{
  background-color: rgb(139, 156, 163);
  border: 1px solid white;
  height: 300px;

}


.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    flex: 0 0 50%;
    min-width: 300px;
    scroll-snap-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    cursor: pointer;
}

.left-arrow {
    left: 0;
}


.box {
    flex: 0 0 calc(20% - 20px); /* Adjust width based on the number of boxes and margins */
    min-width: 200px; /* Minimum width for each box */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.right-arrow {
    right: 0;
}

.box img{
    height:50px;
    width:50px;
}










/* About - css */
.about-container{
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set height to full viewport height */
}

.about-row{
    display: flex;
    height: 50%; /* Each row takes half of the container height */

}

.about-column{
    flex: 1; /* Each column takes equal space */
    padding: 10px;
}
.about-img{
    max-width: 100%; /* Ensure image fits within the column */
    height: auto; /* Maintain aspect ratio */
}

.about-img2, .about-img3{
    max-width: 100%; /* Ensure image fits within the column */
    height: 300px;
}





/* Candidate login css*/
.candidate-login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

#login-form {
  width: 300px; /* Adjust width as needed */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidate-login-form-group {
  margin-bottom: 15px;
}

.candidate-login-form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.candidate-login-form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.candidate-login-form-group button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.candidate-login-form-group button[type="submit"]:hover {
  background-color: #0056b3;
}

.candidate-login-switch-form {
  margin-top: 10px;
  text-align: center;
}

.candidate-login-switch-form a {
  color: #007bff;
  text-decoration: none;
}

.candidate-login-switch-form a:hover {
  text-decoration: underline;
}


/* Success msg*/
.sucess-msg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center vertically within the viewport */
    margin: 0;
    background-color: #f2f2f2;
}

.sucess-msg-container h2 {
    margin-bottom: 10px;
}

.sucess-msg-container p {
    margin-bottom: 20px;
}

.sucess-msg-container a {
    color: blue;
    text-decoration: underline;
}









/* register */
.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .radio-button{
    padding: 10px;
  }
 
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  



.contact{
  display: flex;
  justify-content:'center'; 
  align-items: center;
  position: relative;
  left: 200px;
}
  
  .contact-details {
    display: flex;
    justify-content:'center'; 
    padding-right:30px;
    margin: 24px;
    height: 500px;
    width: 800px;
  }

 
.contact-info{
  text-decoration: underline;
  padding: 10px;
  margin: 10px;
}
.address , .email , .mobile{
  padding: 10px;
}

.address:hover , .email:hover , .mobile:hover{
  color: blue;
}























.comapny-container{
  width: 500px;
  margin: 50px auto;
  /* background-color: #f0f9ff; */
  /* border: 1px solid #ddd; */
  padding: 20px;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

label {
  width: 200px;
  text-align: right;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color:rgb(0, 153, 255);

  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-message {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 20px;
}
