body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scroll bar */
}

/* Remove overflow property from .body */
body {
  flex: 1; /* Take the remaining space */
  /* overflow: auto; Remove this line */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for webkit browsers */
}

/* Rest of your CSS styles */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  background-color: white;
}

.nav-links {
  /* display: flex; Make the navigation links horizontal */
 display:  flex;
  color: black;
  list-style: none;
  transition:  box-shadow 0.3s ease, background-color 0.3s ease,transform 0.3s ease;;

  font-size: 19px;
 
}


.nav-links a {
  /* text-decoration: none; Remove underline from navigation links */
  color: black; /* Set the text color for the links */
  margin:23px
}

.nav-links li a {
text-decoration: none;
color: #333333;
font-weight: bold;
transition: transform 0.3s ease;
}

.nav-links li a:hover {
text-decoration: underline;
transform: scale(1.2)
}

.top-heading{
  width:50%;
 display:flex;
 justify-content: center;
 align-items: center;
}
.heading-info{
width: 300px;
height: 200px;

}

.home-button{
  background-color:rgb(57, 149, 185);
  height: 50px;
font-size: 24px;
}
.head{
/* margin-left: 300px; */
}

.animate-text {
opacity: 0;
animation: fadeIn 1s forwards;
font-size: 24px;
display: flex;
justify-content: flex-start;
}

@keyframes fadeIn {
from {
  opacity: 0;
  transform: translateX(-20px);
}
to {
  opacity: 1;
  transform: translateX(0);
}
}



.info {
background-color:rgb(194, 250, 250);
text-align: center !important;
width: 120%;

}
.text-center,.row-row1, .search ,.column-text{
display: flex;
justify-content: center;
align-items: center;
}
.search input[type='text']{
  height: 20px;
}
.search input{
  margin: 12px;
}
/* Adjust the height and font size of FormControl components */
.form-control {
height: 30px;
margin: 10px;
font-size: 16px;
border-radius: 5px;
width: 100%;
}

/* Adjust the height of the button */
.input-group-append .btn {
height: 50px;
}



@media (max-width: 768px) {
  .navbar {
    flex-direction: column;

  }
  html {
    scroll-behavior: smooth;
  }
  .nav-links {
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .top-heading {
    width: 150%;
  }

  .home-button {
    width: 100%;
    height: 18%;
  }

  .carousel-container .box {
    width: 150%;
  }
.home-contact-container{
  width: 130%;
}
  .home-contact-info {
    text-align: center;
  
  }.info{
    width: 130%;
  }

  .home-social-media li {
    justify-content: center;
    margin: 12px
  }
}
.carousel-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.box {
flex: 0 0 calc(20% - 20px); /* Adjust width based on the number of boxes and margins */
min-width: 200px; /* Minimum width for each box */
margin: 10px;
padding: 20px;
/* border: 1px solid #ccc; */
text-align: center;
transition: transform 0.3s ease;
}

.box:hover  {
  transform: scale(1.2); /* Increasing the scale on hover */
}

.right-arrow {
right: 0;
}

.box img {
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease; /* Adding transition for smooth hover effect */
}

.box:hover img {
  transform: scale(1.2); /* Increasing the scale on hover */
}





/* About-css */

.about-container{
display: flex;
flex-direction: column;
height: 100vh; /* Set height to full viewport height */
}

.about-row {
display: flex;
height: 50%; 
}

.about-column{
flex: 1; /* Each column takes equal space */
padding: 10px;
}
.about-img{
max-width: 100%; /* Ensure image fits within the column */
height: auto; /* Maintain aspect ratio */
}

.about-img2 , .about-img3{
max-width: 100%; /* Ensure image fits within the column */
height: 300px;
}



/* contact-us */
.contact-container {
display: flex;
justify-content: space-between;
margin: 20px;
}

.contact {
flex: 1;
margin-right: 20px;
}

.contact-form {
flex: 1;
}

.connect {
background-color: #f9f9f9;
padding: 20px;
border-radius: 8px;
}

.contact-form-info {
margin-bottom: 20px;
}

.send-msg {
text-align: right;
}

.send-msg button {
background-color: #007bff;
color: #fff;
padding: 8px 16px;
border: none;
border-radius: 4px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

.send-msg button:hover {
background-color: #0056b3;
}

.contact-info {
margin-top: 20px;
}

.email,
.mobile,
.address {
margin-bottom: 10px;
}

.address {
font-style: italic;
}


/* register and sign in */
.radio-button{
text-align: left;
padding: 12px;
}


.home-contact-container{
background-color:rgb(157, 248, 248);
}

.home-contact-info{
display: flex;
justify-content: center;
align-items: center;
margin: 12px;
flex-direction: column;
color: black;
}
.home-social-media {
text-align: center;
}

.list-inline {
display: flex;
justify-content: space-evenly;
width: 80%;
list-style: none;
padding: 12px;
}

.list-inline-item {
margin: 40px; /* Adjust as needed */
margin-right: 200px;
}

.list-inline-item:last-child {
margin-right: 0;
}



/* companies */
.company-details ,.candidate-login-form{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #f5f5f5; /* Light background color */
}

.company-container , #login-form{
background-color: #fff; /* Form background color */
padding: 40px; /* Increased padding for more breathing room */
border-radius: 10px; /* Larger rounded corners for a softer look */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* More prominent box-shadow */
max-width: 450px; /* Slightly narrower form for better readability on smaller screens */
margin: 0 auto;
}

.company-container h2 {
text-align: center;
margin-bottom: 25px; /* Slightly larger margin for title */
font-size: 2em; /* Larger heading size */
color: #333; /* Darker heading color */
}

.company-form-group , .candidate-login-form-group{
margin-bottom: 20px; /* Consistent spacing between form groups */
}

.company-form-group label ,.candidate-login-form-group label {
display: block;
margin-bottom: 5px;
font-weight: bold;
color: #333; /* Darker label color for better contrast */
}

.company-form-group input[type="text"],
.company-form-group input[type="email"],
.company-form-group input[type="password"] ,
.company-form-group input[type="tel"],
.company-form-group input[type="date"] ,
.candidate-login-form-group input[type="email"] ,
.candidate-login-form-group input[type="password"]{
width: 100%;
padding: 15px; 
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
font-size: 16px; /* Larger font size for improved readability */
}

.company-form-group button {
display: block;
width: 100%;
padding: 1rem;
background-color: #007bff; 
color: #fff; 
border: none;
border-radius: 3px;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
}

.company-form-group input[type="submit"]:hover {
background-color: #3e8e41; /* Darker shade on hover */
}


.company-container {
max-width: 600px;
margin: 20px auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 8px;
}

.company-container h2 {
text-align: center;
margin-bottom: 20px;
}

.company-container form {
display: grid;
grid-gap: 10px;
}

.company-container label {
font-weight: bold;
}

.company-container input[type="text"],
.company-container input[type="email"],
.company-container input[type="tel"],
.company-container input[type="date"] {
width: 95%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

.company-container input[type="submit"] {
background-color: #007bff;
color: white;
padding: 12px 25px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.company-container input[type="submit"]:hover {
background-color: #0056b3;
}

.company-container .success-message,
.company-container .error-message {
margin-top: 10px;
padding: 10px;
border-radius: 5px;
}

.company-container .success-message {
background-color: #d4edda;
color: #155724;
}

.company-container .error-message {
background-color: #f8d7da;
color: #721c24;
}


/* Overall form styling */
.candidate-login-form {
display: flex; 
justify-content: center;
align-items: center;
min-height: 100vh; 
background-color: #f0f0f0; 
padding: 2rem;
}

/* Login form container */
#login-form {
background-color: #fff; 
border: 1px solid #ddd; 
border-radius: 5px; 
padding: 3rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
width: 300px;
}

/* Form group styling */
.candidate-login-form-group {
margin-bottom: 1rem;
}

/* Label styling */
.candidate-login-form-group label {
display: block;
margin-bottom: 0.5rem;
font-weight: bold;
}

/* Input styling */
.candidate-login-form-group input {
display: block;
width: 100%;
padding: 0.8rem;
border: 1px solid #ccc; 
border-radius: 3px; 
box-sizing: border-box;
}

/* Input on focus */
.candidate-login-form-group input:focus {
outline: none; 
border-color: #888; 
}

/* Login button styling */
.candidate-login-form-group button {
display: block;
width: 100%;
padding: 1rem;
background-color: #007bff; 
color: #fff; 
border: none;
border-radius: 3px;
cursor: pointer;
transition: background-color 0.2s ease-in-out;
}

/* Login button hover */
.candidate-login-form-group button:hover {
background-color: #0069d9; 
}
/* Link styling */
.candidate-login-switch-form a {
color: #007bff; 
text-decoration: none;
transition: color 0.2s ease-in-out;
}

/* Link hover */
.candidate-login-switch-form a:hover {
color: #0069d9; 

}

/* CSS for FindCompany component */
.container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to 100% of viewport height */
}
.searchCompany {
  margin-bottom: 20px;
}

.company-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.company-form label {
  margin-right: 10px;
}

.company-form input[type="text"] {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.searchCompanyButton {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.searchCompanyButton:hover {
  background-color: #0056b3;
}

/* Modal styling */
.modal1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content1{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

span .close1 {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.companyFormButton {
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.companyFormButton:hover {
  background-color: #218838;
}
