.hr-rightside {
    margin: 20px;
  }
/*   
  .candidate-search {
    display: flex;
    justify-content: center;
  } */
  
  .application-details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .jobdetails, .candidatedetails {
    margin-top: 50px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
  }
  
  .jobdetails h2, .candidatedetails h2 {
    margin-top: 0;
  }
  
  .jobdetails p, .candidatedetails p {
    margin: 5px 0;
  }
  
  .jobdetails p b, .candidatedetails p b {
    font-weight: bold;
  }
  
  /* Add additional styling as needed */
  