.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 400px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
   
  }
  
  
  .form-group {
    margin-bottom: 10px;
   
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    
  }
  .form-group input,.form-group input[type='text']{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  
  .error-message{
    color: red;
  }

 /* HrDashboard.css */

.hr-dashboard-container {
    display: flex;
    flex-direction: row;
  }
  
  .hr-leftside {
    height: 100vh;
    width: 300px;
    background-color: rgb(154, 184, 204);
  }
  
  .hr-rightside {
    height: 100vh;
    width: 100vw;
    background-color: rgb(252, 253, 253);
    overflow: scroll;
  }
  
  #logo img {
    height: 100px;
    width: 200px;
    border-radius: 60px;
  }
  
section {
    padding: 12px;
}
  
.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: auto auto; /* Automatic rows */
    gap: 15px; /* Gap between boxes */
    margin: 20px;
  }
  

  


  .row {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
  }
  
  .small-box {
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    margin-right: 20px; /* Set margin between boxes */
    display: inline-block;
    vertical-align: top;
    background-color: #f0f0f0; /* Set background color */
    padding: 20px;
    box-sizing: border-box;
  }
  
  
  /* .hr-rightside {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
   */


  #application {
    margin: 60px;
    
    width: 90%;
    height: 80%;
  }


  #jobTable {
    width: 98%;
    border-collapse: collapse;
    margin: 10px;
  }
  
  #jobTable th, #jobTable td {
    padding: 8px;
    text-align: left;
  }
  
  #jobTable th {
    background-color:rgb(118, 177, 157);
  }
  
  #jobTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #jobTable tr:hover {
    background-color: #ddd;
  }
  
  #jobTable th, #jobTable td {
    border: 1px solid #ddd; /* Add border to cells */
  }
  
  .addJob {
    clear: both; /* Clear floats */
    margin-top: 30px; 
    margin-left: 1050px;/* Add some spacing */
  }
  
  .addJob a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .addJob a:hover {
    background-color: #0056b3;
  }
  
  
  

  .jobs_list,.jobs_list_table,.people{
    width: 100%;
    height: 100%;
  }


  


  
  .hr-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
  }

  
  .profile_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
  }
  
  .boxp {
    flex-basis: calc(33.33% - 20px); /* Adjust the width of each box */
    /* padding: 20px; */
    height: 120%;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 5px;
    /* border: 0.1px double black; */

   
  }
  
  .boxp h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .boxp p {
    font-size: 14px;
 
    margin-bottom: 15px;
  }
  
  .boxp a {
    display: block;
    text-decoration: none;
    color: #0366d6; /* Link color */
  }
  



/* hr jobs*/

.job-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.job-details label {
  flex-basis: 30%;
  text-align: left;
  
}

.job-details input[type='text'] {
  flex-basis: 60%;
  padding: 8px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#jobType {
  height: 30px;
  margin-top: 15px;
}
.job-details input[type='date'] ,  .job-details textarea{
  margin-top: 15px;
}

.job-button{
  display: flex;
  justify-content: center;
  align-items: center;

}

.job-button button{
  height: 30px;
  width: 100px;
  background-color: skyblue;
  font-size: 15px;
}

.jobs_list #jobTable1{
  
    width: 100%;
    border-collapse: collapse;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #jobTable1 th,
  #jobTable1 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #jobTable1 th {
    background-color:white;
  }
  
  #jobTable1 tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #jobTable1 tr:hover {
    background-color: #ddd;
  }
  
